aside, footer { outline: 1px solid; }

.art-girl {
	padding: 30px; border: 1px solid #c8d3d8; border-top: none;
	background-color: #fff;
	text-align: center;
}
.art-girl:first-child { border-top: 1px solid #c8d3d8; }
.art-girl .img-wrapper { 
	width: 290px; 
	float: left;
}
.art-girl img {
	max-height: 350px; max-width: 290px;
}
.art-girl .choose-box {
	padding: 0 20px;
	float: left;
}
.art-girl .choose-button {
	margin: 10px 0; padding: 9px 31px;
	display: block;
	text-decoration: none;
	vertical-align: middle;
	color: #FFFED1;	font-size: 19px; font-family: Helvetica, Arial, Sans-Serif; text-shadow: rgba(0, 0, 0, .4) 0 1px 0;

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;

	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0px 3px, inset 0px 0px 2px rgba(0, 0, 0, 0.7);
}
.art-girl .choose-button.selected {
	-moz-box-shadow: inset rgba(0, 0, 0, 0.75) 0 0px 5px 2px, inset rgba(255, 255, 255, 1) 0px 0px 1px 1px, rgba(0, 0, 0, 0.7) 0px 0px 0px 1px;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.75) 0 0px 5px 2px, inset rgba(255, 255, 255, 1) 0px 0px 1px 1px, rgba(0, 0, 0, 0.7) 0px 0px 0px 1px;
	box-shadow: inset rgba(0, 0, 0, 0.75) 0 0px 5px 2px, inset rgba(255, 255, 255, 1) 0px 0px 1px 1px, rgba(0, 0, 0, 0.7) 0px 0px 0px 1px;
 }
.art-girl .noten {
	border-top: 1px solid #969954;

	background: #8aab42;
	background: -webkit-gradient(linear, left top, left bottom, from(#477829), to(#8aab42));
	background: -webkit-linear-gradient(top, #477829, #8aab42);
	background: -moz-linear-gradient(top, #477829, #8aab42);
	background: -ms-linear-gradient(top, #477829, #8aab42);
	background: -o-linear-gradient(top, #477829, #8aab42);
}
.art-girl .noten:not(.selected):hover {
   border-top-color: #477829;
   background: #477829;
}
.art-girl .no-noten {
	border-top: 1px solid #c44c4c;

	background: #d13e36;
	background: -webkit-gradient(linear, left top, left bottom, from(#a60f0f), to(#d13e36));
	background: -webkit-linear-gradient(top, #a60f0f, #d13e36);
	background: -moz-linear-gradient(top, #a60f0f, #d13e36);
	background: -ms-linear-gradient(top, #a60f0f, #d13e36);
	background: -o-linear-gradient(top, #a60f0f, #d13e36);
}
.art-girl .no-noten:not(.selected):hover {
	border-top-color: #a60f0f;
	background: #a60f0f;
}